@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: "Century Gothic Paneuropean", sans-serif !important;
}
@import url("https://fonts.cdnfonts.com/css/century-gothic-paneuropean");
/* @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"); */
@import "~react-image-gallery/styles/css/image-gallery.css";
/* React Slick */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*hero carousel'in next ve prev ok hover'ı */
.custom-hover-color-herocarousel:hover {
    color: #343280 !important;
    transition: 0.9 all ease-in-out;
}

/*product carousel merkezleme işlemi */
.product-carousel .slick-slide {
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
}

.product-carousel .slick-slide img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
}

.product-carousel .slick-center {
    transform: scale(1.1);
}

.text-with-underline {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.text-with-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Alt çizgi ile metin arasındaki boşluk */
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.text-with-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Hamburger menu */
.hamburger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.line {
    width: 100%;
    height: 2px;
    margin: 2px;
    background-color: #000;
    transition: transform 0.3s ease;
}

.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.open .line:nth-child(2) {
    opacity: 0;
}

.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -4px);
}

/*Navbar open close*/

.navbar-open-close {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.863);
    top: 7rem;
}

.text-with-underline2 {
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.text-with-underline2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Alt çizgi ile metin arasındaki boşluk */
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.text-with-underline2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Font */

/* sLİDER ZOOM */
.scale-up-center {
    -webkit-animation: scale-up-center 50s cubic-bezier(0.39, 0.575, 0.565, 1)
        infinite both;

    animation: scale-up-center 50s cubic-bezier(0.39, 0.575, 0.565, 1) infinite
        both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);

        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.5);

        transform: scale(1.5);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);

        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.5);

        transform: scale(1.5);
    }
}

/* Slider dost */

.slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: #343280 !important;
    border-radius: 50px;
}

.slick-dots li button:before {
    font-family: "slick";
    font-size: 0; /* Font boyutunu sıfırlayarak içeriği gizliyoruz */
    position: absolute;
    top: 50%; /* Dikeyde ortalamak için */
    left: 50%;
    width: 50px; /* Çizginin genişliği */
    height: 5px; /* Çizginin kalınlığı */
    border-radius: 50px;
    background-color: white; /* Çizginin rengi */
    content: ""; /* İçerik boş */
    opacity: 1; /* Opaklık arttırıldı */
    transform: translate(
        -50%,
        -50%
    ); /* Hem yatayda hem dikeyde ortalamak için */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Danger Html yazıları */
.danger-html-write {
    /* Ortak yazı formatı özellikleri buraya eklenir */
    font-size: 18px; /* Örnek yazı boyutu */
    font-weight: 600; /* Örnek yazı kalınlığı */
    font-family: "Century Gothic Paneuropean", sans-serif !important;
    color: #333; /* Örnek yazı rengi */
    line-height: 1.5; /* Örnek satır yüksekliği */
    margin: 0; /* Örnek kenar boşluğu */
    padding: 0; /* Örnek dolgu */
}

.danger-html-write strong p {
    /* Ortak yazı formatı özellikleri buraya eklenir */
    font-size: 18px; /* Örnek yazı boyutu */
    font-weight: 600; /* Örnek yazı kalınlığı */
    font-family: "Century Gothic Paneuropean", sans-serif !important;
    color: #333; /* Örnek yazı rengi */
    line-height: 1.5; /* Örnek satır yüksekliği */
    margin: 0; /* Örnek kenar boşluğu */
    padding: 0; /* Örnek dolgu */
    padding-top: 10px;
}

.danger-html-write p {
    /* Ortak yazı formatı özellikleri buraya eklenir */
    font-size: 18px; /* Örnek yazı boyutu */
    font-weight: 600; /* Örnek yazı kalınlığı */
    font-family: "Century Gothic Paneuropean", sans-serif !important;
    color: #333; /* Örnek yazı rengi */
    line-height: 1.5; /* Örnek satır yüksekliği */
    margin: 0; /* Örnek kenar boşluğu */
    padding: 0; /* Örnek dolgu */
    padding-top: 10px;
}
.danger-html-write div p {
    /* Ortak yazı formatı özellikleri buraya eklenir */
    font-size: 18px; /* Örnek yazı boyutu */
    font-weight: 600; /* Örnek yazı kalınlığı */
    font-family: "Century Gothic Paneuropean", sans-serif !important;
    color: #333; /* Örnek yazı rengi */
    line-height: 1.5; /* Örnek satır yüksekliği */
    margin: 0; /* Örnek kenar boşluğu */
    padding: 0; /* Örnek dolgu */
    padding-top: 10px;
}
.danger-html-write strong {
    /* Ortak yazı formatı özellikleri buraya eklenir */
    font-size: 18px; /* Örnek yazı boyutu */
    font-weight: 600; /* Örnek yazı kalınlığı */
    font-family: "Century Gothic Paneuropean", sans-serif !important;
    color: #333; /* Örnek yazı rengi */
    line-height: 1.5; /* Örnek satır yüksekliği */
    margin: 0; /* Örnek kenar boşluğu */
    padding: 0; /* Örnek dolgu */
    padding-top: 10px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: 350px !important;
}
.detail-table tr td {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
html {
    scroll-behavior: smooth;
}

.slick-slide:focus {
    outline: none !important;
}
.slick-slide:active {
    outline: none !important;
}
.slick-slide {
    outline: none !important;
}
.slick-slide::selection {
    outline: none !important;
}
.slick-slide:active {
    outline: none !important;
}

.slick-slide:active div {
    outline: none !important;
}
.slick-slide div {
    outline: none !important;
}
.slick-slide::selection div {
    outline: none !important;
}
.slick-slide:active div {
    outline: none !important;
}

.slick-prev {
    left: 2rem;
    z-index: 999999999;
    color: white;
    font-size: 5rem;
    width: auto !important;
    height: auto !important;
}
.slick-next {
    right: 2rem;
    z-index: 999999999;
    color: white;
    font-size: 5rem;
    width: auto !important;
    height: auto !important;
}

.slick-prev:hover {
    left: 2rem;
    z-index: 999999999;
    color: white;
    font-size: 5rem;
    width: auto !important;
    height: auto !important;
}
.slick-next:hover {
    right: 2rem;
    z-index: 999999999;
    color: white;
    font-size: 5rem;
    width: auto !important;
    height: auto !important;
}

@keyframes fadeInLeftToRight {
    0% {
        left: -100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, white, transparent);
    animation: fadeInLeftToRight 4s linear infinite;
}
